*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #7ac2fd;
}
section{
    padding: 10px 11%;
}
.bsc, .hsc, .ssc{
    margin-bottom: 15px;
    padding: 5px;
    height: 300px;
    display: flex;
    justify-content: space-around;
    border: 5px solid orange;
    background-color: #c8e5fc;
}
.image{
    width: 45%;
    display: flex;
    justify-content: center;
    text-align: center;
    place-items: center;
    transition: all 1s;
}
.image:hover{
    transform: scale(1.1);
}
.text{
    width: 55%;
}
.text h1{
    font-size: 30px;
    margin: 20px auto;
    margin-left:10px ;
}
section li{
    margin-left: 50px;
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
}
section li p{
    display: inline;
    font-weight: normal;
    font-size: 20px;
}