body{
    background-color: rgb(255, 248, 243,1);
}
section{
    display: flex;
    margin: 10px 11%;
    border: 3px solid rgb(253, 110, 10);
}
.text{
    width: 60%;
    padding: 20px;
}
.image{
    width: 40%;
    border: 3px solid rgb(253, 110, 10);
    border-left: 5px solid rgb(253, 110, 10);
}
.text h1{
    margin-top: 30px;
    margin-bottom: 60px;
    margin: 30px 0px 60px 20px;
    font-size: 70px;
}
.text h3{
    margin-bottom: 20px;
}
.text p{
    text-align: justify;
    line-height: 30px;
    font-size: 20px;
}
.image img{
    height: 100%;
    width: 100%;
    transition: all 2s;
}
.image img:hover{
    transform: scale(1.1);
}
button{
    margin: 30px 10px 10px 10px;
    color:white;
    height: 40px;
    width: 150px;
    background-color: rgb(253, 110, 10);
    border: rgb(253, 110, 10);
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
}
button a{
    color: white;
    text-decoration: none;
    text-align: center;
}