*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(255, 248, 243,1);
}
section{
    padding: 10px 11%;
}
.project1, .project2, .project3, .project4, .project5{
    margin-top: 20px;
    display: flex;
    border: 3px solid orange;
    background-color: rgb(246, 239, 254);
}
.imageSection{
    width: 50%;
}
.textSection{
    width: 50%;
}
.textSection h1{
    Margin: 10px;
    font-size: 30px;
}
.textSection p{
    padding: 15px;
    font-size: 20px;
    line-height: 35px;
    text-align: justify;
}
img{
    transition: all 1s;
}
img:hover{
    transform: scale(1.1);
}