* {
    margin: 0;
    padding: 0;
}
header {
    margin: 15px 11%;
    height: 40px;
}
header ul {
    display: flex;
    justify-content: space-between;
}
header li {
    font-size: 20px;
    list-style: none;
}
header a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}
header div:hover {
    height: 25px;
    width: 120%;
    text-align: center;
    border-radius: 5px;
    background-color: rgba(253, 110, 10, 1);
}
